.container {
  display: grid;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(233, 23, 23, 0.788);
  font-family: "Airbnb Cereal App Light";
  align-items: center;
  justify-content: center;
  grid-template-columns: minmax(300px, 650px);
}
.boxlogin {
  height: auto;
  display: flex;
  width: 90%;
  justify-content: center;
  align-items: center;
  background-color: cornsilk;
  flex-direction: column;
  padding: 5%;
  border-radius: 15px;
}
.header {
  flex-basis: 100%;
  width: 100%;
  text-align: center;
}
.line {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  padding: 10px;
}
.label {
  flex: 30%;
}
.input {
  flex-basis: 50%;
  margin-left: 10px;
  border-radius: 15px;
  border: none;
  padding: 5px 15px;
  /* box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1); */
  justify-content: space-between;
}
.input:focus {
  background-color: rgb(250, 244, 244);
}
.inputbtn {
  flex-basis: 60%;
}
.labelselect {
  flex: 15%;
  margin-right: 15px;
}
.select {
  width: 100%;
  margin: 10px 10px;
  height: 50px;
  /* border: none; */
  /* padding: 5px 15px; */
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
}
.button {
  /* flex-basis: 60%; */
  background-color: #57cad5;
  width: 100%;
  border-radius: 7px;
  margin: 10px 10px;
  height: 50px;
}
