.container {
  display: grid;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  font-family: "Airbnb Cereal App Light";
  align-items: center;
  justify-content: center;
  grid-template-columns: minmax(300px, 650px);
  background: linear-gradient(180deg, #f56438 50%, #ffffff 50%);
}
.boxlogin {
  height: 90%;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  flex-direction: column;
  padding: 5%;
  border-radius: 15px;
}
.contentlogin {
  height: 100%;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: #f56438;
  flex-direction: column;
  padding: 5%;
  border-radius: 15px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
}
.line {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  flex-direction: row;
}
.linebtn {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  /* box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1); */
  border-radius: 15px;
  padding: 10px;
}
.label {
  width: 30%;
  color: #ffffff;
}
.input {
  width: 70%;
  margin-left: 10px;
  border-radius: 10px;
  /* border: 1px solid #57cad5; */
  padding: 5px 15px;
  outline: none;
  border: none;
}

.inputbtn {
  flex-basis: 60%;
  outline: none;
  border: none;
}
.labelselect {
  flex: 30%;
  color: #ffffff;
}

.button {
  background-color: #57cad5;
  width: 200px;
  border-radius: 15px;
  margin: 10px 10px;
  height: 40px;
  border: none;
  outline: none;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1);
  color: #ffffff;
}

@media screen and (max-width: 768px) {
  .container {
    grid-template-columns: minmax(300px, 100%);
  }
}
